.oak-wide-card {
  width: 100%;
  height: 100%;
  // display: flex;
  // flex-direction: row;
  box-shadow: var(--bs-lg);
  display: grid;
  @media (min-width: 768px) {
    grid-template-columns: 1fr auto;
  }
  @media (max-width: 767px) {
    grid-template-rows: 1fr auto;
  }
  .content {
    background-color: var(--color-background-2);
    color: var(--color-foreground-1);
    padding: 20px 0;
    // flex-basis: 60%;
    height: auto;
  }

  .preview {
    // flex-basis: 40%;
    @media (min-width: 768px) {
      width: 20vw;
    }
    @media (max-width: 767px) {
      height: 30vh;
    }

    img {
      height: 100% !important;
      width: 100% !important;
      object-fit: cover;
    }

    position: relative;
    .photo {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: cover;
      background-position: center;
    }
  }
}
