.project-variant-one {
  padding-top: 20px;
  padding-bottom: 20px;
  // background-color: #333333;
  // color: #fff;

  .project-variant-one__container {
    display: grid;
    grid-auto-flow: row;
    padding: 100px 0;
    column-gap: 40px;
    row-gap: 40px;
  }
}

.project-variant-one__container__first, .project-variant-one__container__second {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 40px;
}

.project-variant-one__container__first__left {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
}

.project-variant-one__container__first__left__top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.project-variant-one__container__first__left__top__tile-one,
.project-variant-one__container__first__left__top__tile-two,
.project-variant-one__container__first__left__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.project-variant-one__container__first__left__top__tile-two {
  background-color: var(--color-primary);
}
.project-variant-one__container__first__left__top__tile-one,
.project-variant-one__container__first__left__bottom {
  background-color: #bad9ff40;
}

.project-variant-one__heading {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  justify-items: center;
}

.project-variant-one__heading__accent {
  display: grid;
  grid-auto-flow: column;
  column-gap: 6px;
  div {
    height: 6px;
    width: 72px;
    border-radius: 50px;
    background-color: var(--color-primary);
  }
}
