.open-source-section {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-top: 160px;
  padding-bottom: 160px;
  background-color: #f2f2f2;
  color: #000;
  display: grid;

  @media (max-width: 767px) {
    grid-auto-flow: row;
    align-items: center;
    row-gap: 50px;
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .open-source-section__right {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-auto-flow: row;
    // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 40px;
  }
}

.open-source-section-sectiontile {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
  justify-content: flex-start;
  // justify-items: flex-start;
}

.open-source-section__left,
.open-source-section__left span {
  font-size: 24px;
  // display: grid;
}

.open-source-section-sectiontile__title {
  font-size: 14px;
  // font-weight: bold;
  line-height: 1;
}

.open-source-section-sectiontile__count {
  font-size: 24px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 4px;
  border: 2px solid var(--color-primary);
  border-radius: 12px;
  line-height: 1;
}

.open-source-section-sectiontile:nth-child(2) .open-source-section-sectiontile__count {
  align-items: flex-end;
}

.open-source-section-sectiontile:nth-child(3) .open-source-section-sectiontile__count {
  justify-content: center;
  align-items: flex-end;
}

.open-source-section__right img {
  width: 70%;
}